<section class="category">
  <a href="#" class="box">
      <img src="assets/image/cat-1.png" alt="">
      <h3>Pizza</h3>
  </a>

  <a href="#" class="box">
      <img src="assets/image/cat-2.png" alt="">
      <h3>Burgger</h3>
  </a>

  <a href="#" class="box">
      <img src="assets/image/cat-3.png" alt="">
      <h3>cake</h3>
  </a>

  <a href="#" class="box">
      <img src="assets/image/cat-4.png" alt="">
      <h3>chicken</h3>
  </a>

  <a href="#" class="box">
      <img src="assets/image/cat-5.png" alt="">
      <h3>coffee</h3>
  </a>

  <a href="#" class="box">
      <img src="assets/image/cat-6.png" alt="">
      <h3>rice</h3>
  </a>
</section>
