<div class="login-form-container">
  <form action="">
      <h3>Ibrah login form</h3>
      <input type="email" placeholder="enter your name" class="box">
      <input type="password" placeholder="enter your password" class="box">
      <div class="remember">
          <input type="checkbox" name="" id="remember-me">
          <label for="remember-me">remember me</label>
      </div>
      <input type="submit" value="login now" class="btn">
      <p>forget password? <a href="#">click here</a></p>
      <p>Don't have an account? <a href="#">create one</a></p>
  </form>
</div>
