<section class="menu" id="menu">

  <div class="heading">
      <span>Nos menu</span>
      <h3>our top dishes</h3>
  </div>

  <div class="box-container">

      <a href="#" class="box">
          <img src="assets/image/menu-1.png" alt="">
          <div class="content">
              <h3>plat délicieux</h3>
              <div class="price">$40. 00</div>
          </div>
      </a>

      <a href="#" class="box">
          <img src="assets/image/menu-2.png" alt="">
          <div class="content">
              <h3>plat délicieux</h3>
              <div class="price">$50. 00</div>
          </div>
      </a>

      <a href="#" class="box">
          <img src="assets/image/menu-3.png" alt="">
          <div class="content">
              <h3>plat délicieux</h3>
              <div class="price">$25. 00</div>
          </div>
      </a>

      <a href="#" class="box">
          <img src="assets/image/menu-4.png" alt="">
          <div class="content">
              <h3>plat délicieux</h3>
              <div class="price">$25. 00</div>
          </div>
      </a>

      <a href="#" class="box">
          <img src="assets/image/menu-5.png" alt="">
          <div class="content">
              <h3>plat délicieux</h3>
              <div class="price">$40. 00</div>
          </div>
      </a>

      <a href="#" class="box">
          <img src="assets/image/menu-6.png" alt="">
          <div class="content">
              <h3>plat délicieux</h3>
              <div class="price">$40. 00</div>
          </div>
      </a>

  </div>
</section>
