<section class="order" id="order">

  <div class="heading">
      <span>order now</span>
      <h3>fastest home delevery</h3>
  </div>

  <div class="icons-container">
      <div class="icons">
          <img src="assets/image/icon-1.png" alt="">
          <h3>7:00 am to 10:00 pm</h3>
      </div>

      <div class="icons">
          <img src="assets/image/icon-2.png" alt="">
          <h3>+225 45885512</h3>
      </div>

      <div class="icons">
          <img src="assets/image/icon-3.png" alt="">
          <h3>BP 1093, Yamoussoukro</h3>
      </div>
  </div>

  <form action="">

      <div class="flex">
          <div class="inputBox">
              <span>Votre nom</span>
              <input type="text" name="" id="" placeholder="customer's name">
          </div>
          <div class="inputBox">
              <span>Votre numéro</span>
              <input type="number" name="" id="" placeholder="customer's number">
          </div>
      </div>

      <div class="flex">
          <div class="inputBox">
              <span>your order</span>
              <input type="text" name="" id="" placeholder="food you want">
          </div>
          <div class="inputBox">
              <span>how munch</span>
              <input type="number" name="" id="" placeholder="number of orders">
          </div>
      </div>

      <div class="flex">
          <div class="inputBox">
              <span>your details</span>
              <input type="text" name="" id="" placeholder="your message">
          </div>
          <div class="inputBox">
              <span>pick up time</span>
              <input type="datetime-local" name="" id="">
          </div>
      </div>

      <div class="flex">
          <div class="inputBox">
              <textarea name="" id="" cols="30" rows="10" placeholder="votre addresse"></textarea>
          </div>
          <div class="inputBox">
              <iframe class="map" src="https://www.google.com/maps/embed?
                  pb=!1m18!1m12!1m3!1d3961.2157213099504!2d-5.241165525949411!3d6.86473239313384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfb8906e6d0e8
                  baf%3A0xcbf94d3613894af7!2sInstitut%20National%20Polytechnique%20F%C3%A9lix%20Houphou%C3%ABt-Boigny%20(INPHB)
                  !5e0!3m2!1sfr!2sci!4v1698911436603!5m2!1sfr!2sci"
                  allowfullscreen="" loading="lazy">
              </iframe>
          </div>
      </div>

      <input type="submit" value="proceed to order" class="btn">
  </form>
</section>
