<section class="home" id="home">
  <div class="content">
      <span>welcome to the Diarrass Cafe</span>
      <h3>Where Fresh Flavours Bloom and Come Together</h3>
      <p>Experience fresh, farm-to-table cuisine in our garden-inspired cafe. Come for the food, stay for the atmosphere</p>
      <a href="#popular" class="btn">order now</a>
  </div>

  <div class="image">
      <img src="assets/image/home-img.png" alt="" class="home-img">
      <img src="assets/image/home-parallax-img.png" alt="" class="home-parallax-img">
  </div>

</section>
