.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #f7f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  border-radius: 0 0 2rem 2rem;
}

.header .logo{
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #130f40;
}

.header .logo i{
  padding-right: .5rem;
  color: #494262;
}

.header .navbar a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #383347;
  transition: all .4s ease-out;
}

.header .navbar a:hover{
  color: #52389b;
}

.header .icons{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background:#edecf2;
  color: #130f40;
  border-radius: 50%;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s ease-out;
}

.header .icons div:hover{
  background: #d8d5e2;
}

#menu-btn{
  display: none;
}

