<header class="header">
  <a href="" class="logo"><i class="ri-store-2-line"></i>Diarrassouba Cafe</a>

  <nav class="navbar">
      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#popular">popular</a>
      <a href="#menu">menu</a>
      <a href="#order">order</a>
      <a href="#blogs">blogs</a>
  </nav>

  <div class="icons">
      <a ><div id="menu-btn" class="ri-menu-line"></div></a>
      <a ><div id="search-btn" class="ri-search-line"></div></a>
      <a><div id="cart-btn" class="ri-shopping-cart-line"></div></a>
      <a><div id="login-btn" class="ri-user-line"></div></a>
  </div>
</header>
<app-login></app-login>
<app-search></app-search>
<app-shopping></app-shopping>
