<section class="shopping-cart-container">

  <div class="products-container">

      <h3 class="title">Vos produits</h3>

      <div class="box-container">

          <div class="box">
              <i class="ri-close-line close-icon"></i>
              <img src="assets/image/menu-1.png" alt="">
              <div class="content">
                  <h3>delicious food</h3>
                  <span>quantité : </span>
                  <input type="number" name="" min="1" value="1">
                  <br>
                  <span>prix : </span>
                  <span class="price"> $40.00</span>
              </div>
          </div>

          <div class="box">
              <i class="ri-close-line close-icon"></i>
              <img src="assets/image/menu-2.png" alt="">
              <div class="content">
                  <h3>delicious food</h3>
                  <span>quantité : </span>
                  <input type="number" name="" min="1" value="1">
                  <br>
                  <span>prix : </span>
                  <span class="price"> $30.00</span>
              </div>
          </div>

          <div class="box">
              <i class="ri-close-line close-icon"></i>
              <img src="assets/image/menu-3.png" alt="">
              <div class="content">
                  <h3>delicious food</h3>
                  <span>quantité : </span>
                  <input type="number" name="" min="1" value="1">
                  <br>
                  <span>prix : </span>
                  <span class="price"> $50.00</span>
              </div>
          </div>

          <div class="box">
              <i class="ri-close-line close-icon"></i>
              <img src="assets/image/menu-4.png" alt="">
              <div class="content">
                  <h3>delicious food</h3>
                  <span>quantité : </span>
                  <input type="number" name="" min="1" value="1">
                  <br>
                  <span>prix : </span>
                  <span class="price"> $60.00</span>
              </div>
          </div>

          <div class="box">
              <i class="ri-close-line close-icon"></i>
              <img src="assets/image/menu-5.png" alt="">
              <div class="content">
                  <h3>delicious food</h3>
                  <span>quantité : </span>
                  <input type="number" name="" min="1" value="1">
                  <br>
                  <span>prix : </span>
                  <span class="price"> $25.00</span>
              </div>
          </div>

      </div>

  </div>

  <div class="cart-total">

      <h3 class="title">cart total</h3>

      <div class="box">
          <h3 class="subtitle">subtitle: <span>$200</span></h3>
          <h3 class="total"> total : <span>$200</span></h3>

          <a href="" class="btn">proceed to checkout</a>
      </div>
  </div>

</section>
