<section class="about" id="about">

  <div class="image">
      <img src="assets/image/about-img.png" alt="">
  </div>

  <div class="content">
      <span>why choose us?</span>
      <h3 class="title">what's make our food delicious!</h3>
      <p>Delicious food, emjaillement, l'amitié, le bon comportement et la douceur</p>
      <a href="#" class="btn">read more</a>
      <div class="icons-container">
          <div class="icons">
              <img src="assets/image/serv-1.png" alt="" width="40">
              <h3>fast livraison</h3>
          </div>
          <div class="icons">
              <img src="assets/image/serv-2.png" alt="" width="40">
              <h3>fresh food</h3>
          </div>
          <div class="icons">
              <img src="assets/image/serv-3.png" alt="" width="40">
              <h3>meilleure qualité</h3>
          </div>
          <div class="icons">
              <img src="assets/image/serv-4.png" alt="" width="40">
              <h3>24/7 support</h3>
          </div>
      </div>
  </div>
</section>
